@font-face {
    font-family: typeBomb;
    src: url(bomb.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body, html{
	height: 100vh;
}

.title-text {
	display: flex;
    font-family: typeBomb;
    text-shadow: 5px 5px rgb(15, 160, 170);
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 5rem;
    margin-top: 30px;
    user-select: none;
    cursor: default;
}

p {
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.play-page-style {
    border: 2px;
    border-radius: 3px; 
    border-color: white;
}

#effect {
	display: inline-block;
	animation: latidos 3s infinite;
	transform-origin: center;
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

.head {
    text-align: center;
    background-color: #393e46;
    display: flex;
    justify-content: left;
    align-items: left;
	height: 150px;
}

#initial-id-page {
    background-image: url(click.png);
}

.logo-img {
    height: 150px;
	position: absolute;
}

.logo-img2 {
    height: 150px;
	position: absolute right;
}

.section-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #393e46;
}

.user-name {
	margin-bottom: 50px;
    text-align: center;
    font-family: fantasy;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

#message-box {
    background-color: #393e46;
}

.squad-name {
    display: absolute;
    text-align: center;
    background-color: #393e46;
    font-family: typeBomb;
    font-size: 70px;
    text-shadow: 5px 5px rgb(15, 160, 170);
    user-select: none;
}

footer {
    display: flex;
    align-items: right;
    background-color: #393e46;
    justify-content: right;
	height: 150px;
}

.squad-name {
    display: block;
}

.hidden-section {
	display: none;
}

.hidden-button {
	display: none;
}

.hidden-game {
	display: none;
}

.hidden-message {
	display: none;
}

.start-button {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 60px;
}

.easy-button {
    background-color: #393e46;
    color: white;
    border: 2px;
    border-radius: 3px; 
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    user-select: none;
}

.hard-button {
    background-color: #393e46;
    color: white;
    border: 2px;
    border-radius: 3px; 
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    user-select: none;
}

#finish-button {
    margin-top: 50px;
    background-color: #393e46;
    color: white;
    border: 2px;
    border-radius: 3px; 
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    user-select: none;
}

#finish-button:hover {
    transform: scale(1.4);
}

.easy-button:hover {
    transform: scale(1.4);
}

.hard-button:hover {
    transform: scale(1.4);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #6200ee;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }