@font-face {
    font-family: typeBomb;
    src: url(bomb.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body, html{
	height: 100%;
}

.title-text {
	display: flex;
    font-family: typeBomb;
    text-shadow: 5px 5px rgb(15, 160, 170);
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 5rem;
    margin-top: 30px;
    user-select: none;
}


#effect {
	display: inline-block;
	animation: latidos 3s infinite;
	transform-origin: center;
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

.head {
    text-align: center;
    background-color: #393e46;
    display: flex;
    justify-content: left;
    align-items: left;
	height: 150px;
}

#initial-id-page {
    background-image: url(click.png);
    height: 500px;
}

.button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #393e46;
    border-radius: 100px;
    border: 5px solid rgb(15, 160, 170);
    border-width: 5px 5px 5px 5px;
    padding: 6px 20px 4px 20px;
    color: rgb(15, 160, 170);
    font-size: 15px;
    font-family: typeBomb;
    font-style: normal;
    letter-spacing: 1px;
    user-select: none;
  }
  .button > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
  .button > i {
    font-size: 1em;
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: static;
  }

.logo-img {
    height: 150px;
	position: absolute;
}

.logo-img2 {
    height: 150px;
	position: absolute right;
}

.section-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    /* background-color: black; */
}

.user-name {
	margin-bottom: 50px;
    text-align: center;
    font-family: typeBomb;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border-color: rgb(15, 160, 170);
    cursor: pointer;
    user-select: none;
}

#message-box {
    background-color: lightcoral;
}

.squad-name {
    display: absolute;
    text-align: center;
    background-color: #393e46;
    font-family: typeBomb;
    font-size: 70px;
    text-shadow: 5px 5px rgb(15, 160, 170);
    user-select: none;
}

footer {
    display: flex;
    align-items: right;
    background-color: #393e46;
    justify-content: right;
	height: 150px;
}

#easy-game {
    border: 1px solid black;
    background-color: lightgreen;
}

.play-page-style{
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    background: aqua;
}



.squad-name {
    display: block;
}

.hidden-section {
	display: none;
}

.hidden-button {
	display: none;
}

.hidden-game {
	display: none;
}

.hidden-message {
	display: none;
}


